<h1>Hello <%= @user.name %></h1>
<hr>
<h2>Todays match:
  <% if @user.todays_match %>
    <%= @user.todays_match.users.first == @user? @user.todays_match.users.last.name : @user.todays_match.users.first.name %>
  <% else %>
    No match yet
  <% end %>
</h2>
<hr>

<h3>Past matches</h3>
<table style="width: 50%">
  <tr>
    <th>Date</th>
    <th>Match</th>
  </tr>
  <% @user.past_matches.each do |match| %>
    <tr>
      <td><%= match.date %></td>
      <td><p><%= match.users.first == @user? match.users.last.name : match.users.first.name %></p>
      </td>
    </tr>
  <% end %>
</table>
