<h1>Your match</h1>

<h4>Match id: <%= @match.id %></h4>
<h5>Date: <%= @match.date %></h5>
<h5>Students:</h5>
<% @match.users.each do |student| %>
  <p><%= student.first_name %> <%= student.last_name %></p>
<% end %>
